@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=PT+Sans+Narrow&display=swap');
body{
background-color: pink;
}
h1{
  font-family: 'Aboreto', cursive;
  color: white;
  background-color: brown;
  border: 2px solid white;
  border-radius: 8px;
}
h2,h3,h6{
  font-family: 'Aboreto', cursive;
  color: brown;
  text-align: center;
}
p{
  font-family: 'PT Sans Narrow', sans-serif;
  text-align: left;
}
h1{
  text-align: center;
}

.primero{
  text-align: center;
  margin: 50px auto;
  width: 40%;
}
.segundo{
  text-align: left;
  margin: 50px auto;
  width: 40%;
}
.tercero{
  text-align: left;
  margin: 50px auto;
  width: 40%;
}

.video {
	padding: 20px;
	text-align: center;
  }

.tarjeta2{
  text-align: left;
  background-color: white;
  margin: 10px auto;
  width: 10%;
  padding: 20px;
  border: 2px solid black;
  border-radius: 8px;
}
.item{
padding: 10px;
display: inline-block;
}
.item a{
color: white;
text-decoration: none;
padding: 10px;
background-color: orange;
border: 2px solid white;
}
.todo{
  background-color: white;
  margin: auto 180px;
  border: 2px solid orange;

}

.credito {
  margin: 10px 180px;
  text-align: center;
  padding: 10px;
  border: 2px solid orange;
  background-color: white;
}